GOOGLE_API_KEY=""
SQLITE_DB_URL=""

MILVUS_URI=""
MILVUS_TOKEN=""

ADMIN_USERNAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_FULL_NAME=""

LLM_MODEL=""
LLM_PROVIDER=""
EMBEDDING_PROVIDER=""

API_URL = ""

ESCALATION_MODE=""
ESCALATION_THRESHOLD=""

AZURE_ENDPOINT=""
AZURE_API_KEY=""
AZURE_API_VERSION=""
AZURE_DEPLOYMENT=""

