GOOGLE_API_KEY=""
SQLITE_DB_URL=""

ADMIN_USERNAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_FULL_NAME=""

LLM_MODEL=""
LLM_PROVIDER=""

EMBEDDING_PROVIDER=""

API_URL=""
ESCALATION_MODE=""
ESCALATION_THRESHOLD=""

AZURE_ENDPOINT=""
AZURE_API_KEY=""
AZURE_API_VERSION=""
AZURE_DEPLOYMENT=""
AZURE_EMBEDDING_DEPLOYMENT=""

GREETING_LLM_TEMP=""
LLM_TEMP=""

JWT_SECRET_KEY=""
ALGORITHM=""

AUTO_ESCALATION_SCHEDULAR=""
USE_LLM=""
MAX_TOKENS=""

DATABASE_URL=""

MILVUS_HOST=""
MILVUS_PORT=""
MILVUS_DATABASE=""
MILVUS_COLLECTION_NAME=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
S3_BUCKET_NAME=""
AWS_REGION=""


